[submodule "submodules/flashtool"]
	path = submodules/flashtool
	url = https://github.com/lilvinz/flashtool.git
[submodule "submodules/qos"]
	path = submodules/qos
	url = https://github.com/lilvinz/qos.git
[submodule "submodules/chibios"]
	path = submodules/chibios
	url = https://github.com/lilvinz/chibios.git
[submodule "submodules/format"]
	path = submodules/format
	url = https://github.com/lilvinz/format.git
[submodule "submodules/fatfs"]
	path = submodules/fatfs
	url = https://github.com/lilvinz/fatfs.git
[submodule "submodules/minini"]
	path = submodules/minini
	url = https://github.com/lilvinz/minini.git
[submodule "submodules/ws281x"]
	path = submodules/ws281x
	url = https://github.com/janfietz/ws281x.git
[submodule "submodules/tmb_effects"]
	path = submodules/tmb_effects
	url = https://github.com/janfietz/tmb_effects.git
[submodule "submodules/lis3dh"]
	path = submodules/lis3dh
	url = https://github.com/janfietz/lis3dh.git
